
body{
    background-image: url('img/background.jpg');

    -webkit-user-select: none; /* Safari /
    -moz-user-select: none; / Firefox /
    -ms-user-select: none; / IE10+/Edge /
    user-select: none; / Standard */
}

#maindiv{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border: 2px black solid;
}

#stelling{
    text-align: center;
}

.toggled {
    color: green;
}